<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Daniel Sabbagh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <meta property="og:title" content="Daniel Sabbagh"/>
    <meta property="og:description" content="Reading is Essential"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="/05bb8f9ea1f5bd622e40db9b9d0ef8ef.jpg"/>
    
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  </head>
  <body aurelia-app="main">
  </body>
</html>
