.content {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #d0cfd6;
}

p, h1, h2, h3, h4 {
    /* color: #fff; */
}

a {
    color: #212324;
}

.top-bar {
    background: black;
    padding-bottom: 3px;
    margin-top: -8px;
}

@media screen and (max-width: 768px) {
    .content {
        width: 90vw;
    }

    .sticky-header {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    code {
        white-space: pre-wrap;
    }
}