:root {
    --separator-color: #e9ad68;
    --big-font-family: 'Libre Caslon Text', serif;
    --small-font-family: 'Crimson Text', serif;;
}

.top-horizontal-separator {
    height: 1px;
    background: var(--separator-color);
    margin-top: 20px;
}

.personal-info {
    font-family: var(--small-font-family);
    margin-top: 20px;
    padding-left: 20px;
    margin-right: 20px;
    width: 50%;
}

.footer-layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.headshot {
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 50%;
    width: 150px;
    height: 160px;
}

.contact-links {
    display: flex;
}

.contact-list {
    list-style: none;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.contact-list-item {
    margin-right: 20px;
    padding-bottom: 10px;
    position: relative;
}

.social-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: relative;
}

.contact-list-item:before, .contact-list-item:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
}

.contact-list-item:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.contact-list-item:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-list-item:hover:before, .contact-list-item:hover:after, .contact-list-item:focus:before, .contact-list-item:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.contact-list-item:hover:before, .contact-list-item:focus:before {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-list-item:hover:after, .contact-list-item:focus:after {
    -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}





.coffee-cup {
    height: 18px;
    width: 15px;
    vertical-align: middle;
    border: 0;
}

.donate-button {
    cursor: pointer;
    border: none;
    margin-left: -7px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.feedback-boxes {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.donate-box {
    border: white;
    border-style: solid;
    height: 260px;
    width: 370px;
    border: none;
    background-color: #889194;
}

.coffee-cups {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

.donate-submit-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
}

.small-coffee-cup {
    width: 50px;
    height: 60px;
}

.med-coffee-cup {
    width: 60px;
    height: 80px;
}

.large-coffee-cup {
    width: 60px;
    height: 110px;
}

.footer-money-plea {
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-family: var(--small-font-family);
    font-size: 18px;
}

.email-subscribe-box {
    border: white;
    border-style: solid;
    height: 260px;
    width: 370px;
    border: none;
    background-color: #505557;
    text-align: center;
}

.email-subscribe-header {
    font-size: 28px;
    margin-top: 20px;
    font-family: var(--big-font-family);
}

.email-subscribe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    margin: auto;
    font-family: var(--small-font-family);
}

.email-input {
    font-family: var(--small-font-family);
    font-size: 18px;
    margin-top: 16px;
    border-radius: 5px;
    border-style: unset;
    text-align: center;
    background-color: #212324;
    color: white;
}

.email-subscribe-button {
    font-family: var(--small-font-family);
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    background-color: #212324;
    color: #ffffff;
}

.email-subscribe-text {
    font-size: 19px;
    margin-top: 15px;
}

.bottom-horizontal-separator {
    height: 1px;
    background: var(--separator-color);
    margin-top: 30px;
}

.email-made-with-heart {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;   
}

@media screen and (max-width: 768px) {
    .headshot {
        margin-top: 15px;
        margin-right: 20px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .personal-info {
        font-family: var(--small-font-family);
        margin-top: 10px;
        padding-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .footer-layout {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        margin-left: 3px;
        margin-right: 3px;
    }

    .top-horizontal-separator, .bottom-horizontal-separator {
        margin-top: 0px;
    }

    .contact-links {
        flex-direction: row;
    }

    .contact-list-item {
        float: left;
        padding-right: 5px;
    }

    .feedback-boxes {
        display: flex;
        flex-direction: column;
        /* margin-bottom: -25px; */
        justify-content: space-evenly;
        height: 600px;
        align-items: center;
        margin: 0px;
    }

    .email-made-with-heart {
        margin-bottom: 0px;
    }
}