:root {
	--post-tag-color: #889194;
	--big-font-color: #D9A5FF;
	--big-font-family: 'Libre Caslon Text', serif;
	--small-font-family: 'Crimson Text', serif;;
}

.page-title {
    font-family: var(--big-font-family);
}

.outer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.intro-text {
    font-family: var(--big-font-family);
    font-size: 16px;
}

.book-title {
    font-family: var(--big-font-family);
    font-size: 24px;
    text-align: left;
}

.book-author {
    font-family: var(--small-font-family);
    font-size: 20px;
    text-align: left;
}

.disclaimer-text {
    font-style: italic;
    font-family: var(--small-font-family);
    margin-bottom: 40px;
}

.book-summary {
    font-style: italic;
    font-family: var(--small-font-family);
    text-align: left;
}

.top-money-plea {
    font-size: 22px;
    font-style: italic;
    font-family: var(--small-font-family);
    text-decoration: none;
}

.card {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 25px;
}

.book-image {
    height: 240px;
    width: 150px;
    border-radius: 5px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.summary-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22.5em;
}

.read-more {
    background: var(--post-tag-color);
    padding: 8px;
    text-decoration: none;
    font-family: var(--big-font-family);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.coming-soon {
    background: var(--post-tag-color);
    padding: 8px;
    text-decoration: none;
    font-family: var(--big-font-family);
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

.amazon-link {
    color: #212324;
    background: var(--post-tag-color);
    padding: 8px;
    text-decoration: none;
    font-family: var(--big-font-family);
    font-size: 16px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .book-title {
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
    }

    .book-author {
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }

    .card {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        max-width: 18em;
    }

    .book-image {
        height: auto;
        width: 18em;
        border-radius: 5px;
    }

    .book-summary {
        font-style: italic;
        font-family: var(--small-font-family);
        font-size: 20px;
        text-align: center;
    }

    .summary-detail {
        flex-grow: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 12.4em;
        justify-content: center;
    }

    .read-more {
        background: var(--post-tag-color);
        padding: 8px;
        text-decoration: none;
        font-family: var(--big-font-family);
        font-size: 17px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .amazon-link {
        color: #212324;
        background: var(--post-tag-color);
        padding: 8px;
        text-decoration: none;
        font-family: var(--big-font-family);
        font-size: 17px;
        text-align: center;
    }

    .coming-soon {
        color: #212324;
        background: var(--post-tag-color);
        padding: 8px;
        text-decoration: none;
        font-family: var(--big-font-family);
        font-size: 17px;
        text-align: center;
        margin-bottom: 10px;
    }    
}