:root {
	--big-font-color: #D9A5FF;
	--big-font-family: 'Libre Caslon Text', serif;
	--small-font-family: 'Crimson Text', serif;;
}

.page-title {
    font-family: var(--big-font-family);
}

.talks-blurbs {
    font-family: var(--small-font-family);
    font-size: 16px;
}

.talk-description {
    font-family: var(--small-font-family);
    font-size: 14px;
}

.talk-info {
    font-family: var(--small-font-family);
    font-size: 14px;
}

.talk-title {
    font-family: var(--small-font-family);  
    font-size: 16px;
}