<template>
    <require from="../css/blog.css"></require>
    <require from="aurelia-markdown"></require>
    <require from="../value-converters/blog-post-blurb-prettifier"></require>

    <div class="${dimPostContents ? 'dim-overlay blog-layout' : 'blog-layout'}">

        <h2 class="page-title">${postTitle}</h2>

        <div class="${postContents ? 'preload-post slide-post-in post-contents' : 'preload-post post-contents'}"> 
                <p class="post-contents">
                    <markdown class="post-contents-container" ref="postContentsContainer">
                    </markdown>
                </p>
        </div>
        
        <br>

        <div show.bind="!alwaysHideRelatedPosts">
            <div class="post-tag-container" show.bind="postTags">
                <div>
                    <p class="related-posts-text">related:</p>
                </div>
                <div class="post-tags">
                    <a class="post-tag" repeat.for="tag of postTags" click.delegate='showRelatedPostsByTag(tag, !showRelatedPosts)'>${tag}</a>
                </div>
            </div>

            <br>

            <!-- TODO when one of these are clicked, set relatedPosts to [] and scroll to top of page -->
            <div class="${showRelatedPosts ? 'preload-related-posts slide-related-posts-in related-posts' : 'preload-related-posts slide-related-posts-out related-posts'}">
                <p class="related-posts-text" if.bind="!noRelatedPosts"><span>other posts tagged: ${selectedRelatedPostTag}</span></p>
                <ul>
                    <li repeat.for="post of relatedPosts">
                        <a href="/#/blog/${post.blogpost_id}/${post.slug}" class="post-links">
                        ${post.title}
                        <ul>
                            <li>
                                ${post.teaser | blogPostBlurbPrettifier}
                            </li>
                        </ul>
                        </a>
                    </li>
                </ul>
                <p if.bind="noRelatedPosts">Looks like there aren't any other posts with this tag 😔 <a href="mailto:dsabbaghumd@gmail.com" target="_blank">Want me to write one?</a></p>
            </div>
        </div>

        <br>
        <br>

    </div>

</template>