<template>
    <require from="../css/footer.css"></require>
    <require from="../value-converters/asset-context"></require>

    <div class="top-horizontal-separator"></div>

    <div if.bind="isContentLoaded" class="feedback-boxes">
        <div class="donate-box">
            <div class="coffee-cups">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="8Q32E3Q42WS3S" />
                    <input type="hidden" name="currency_code" value="USD" />    
                    <button name="submit" class="donate-submit-button" title="Buy me a Coffee pls" alt="Buy me a Coffee"> 
                        <img src="../../../images/coffee_cup.png" class="small-coffee-cup"/>
                    </button>
                </form>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="8Q32E3Q42WS3S" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <button name="submit" class="donate-submit-button" title="Buy me a Coffee pls" alt="Buy me a Coffee"> 
                        <img src="../../../images/coffee_cup.png" class="med-coffee-cup"/>
                    </button>
                </form>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="8Q32E3Q42WS3S" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <button name="submit" class="donate-submit-button" title="Buy me a Coffee pls" alt="Buy me a Coffee"> 
                        <img src="../../../images/coffee_cup.png" class="large-coffee-cup"/>
                    </button>
                </form>
        </div>
            <p class="footer-money-plea"> If you like this content, please consider supporting my work by clicking on a coffee cup!</p>
        </div>
        <div class="email-subscribe-box">
            <p class="email-subscribe-header">Have 'Em Delivered</p>
            <div class="email-subscribe-content">
                <input class="email-input" type="text" placeholder="you@example.com">
                <button class="email-subscribe-button">Subscribe!</button>
                <p class="email-subscribe-text"><strong>Subscribe</strong>  to receive sweet new content right in your inbox, plus info on giveaways!</p>
            </div>
        </div>
    </div>

    <div class="bottom-horizontal-separator"></div>
    <p class="email-made-with-heart">~ Made with <span class="heart">❤️</span> by Emily ~</p>

    <div class="footer-layout">
        <div>
            <img class="headshot" 
            src="../../../images/headshot.jpg" 
            srcset="../../../images/headshot_small.jpg 50w, ../../../images/headshot.jpg 350w" 
            sizes="(max-width: 768px) 50px, 350px">

        </div>
        
        <div class="personal-info footer-text">
            <div><p>Hi! I'm a software engineer who loves to write about books and spiritual things.</p></div>
            <div class="contact-links">
                <ul class="contact-list">
                    <li class="contact-list-item"><a href="https://github.com/dsab123" target="_blank">github</a></li>
                    <li class="contact-list-item"><a href="https://twitter.com/_danielsabbagh" target="_blank">twitter</a></li>
                    <li class="contact-list-item"><a href="mailto:dsabbaghumd@gmail.com" target="_blank">email</a></li>
                    <!-- <li class="contact-list-item"><a href="https://facebook.com/dsab123" target="_blank">facebook</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</template>